.directory { float: left; width: 100%; overflow: hidden; }
.directory li { margin-bottom: 10px; overflow: hidden; padding: 20px; background: #fff }
.directory li .imgPic{overflow: hidden;width: 90%;margin: 0 auto;padding-top: 20px;}
.directory li img{overflow: hidden;width: 100%;}
.bigDataDiv {float: left; width: 100%; overflow: hidden; background-color: white}
.bigDataDiv li { margin-bottom: 10px; overflow: hidden; padding: 20px; background: #fff }
.bigDataDiv li h4{margin-top: 20px}
.bigDataDiv li .showPic{overflow: hidden;width: 100%;padding-top: 20px;margin-bottom: 20px;}
.bigDataDiv li .annotation{margin-left: 20px;color: green;}
.bigDataDiv li .logoTile{color: darkgray;font-size: 12px;margin-top: 20px;overflow: hidden;}
.rnArticle{margin-top: 20px;background: black;opacity:0.7;filter:alpha(opacity=70);border-radius:5px;
-moz-border-radius:5px; /* 老的 Firefox */}
.rnArticle p{margin: 10px;opacity:1;filter:alpha(opacity=100);color: white;}
.rnArticle span{margin: 10px;opacity:1;filter:alpha(opacity=100);color: gray;}
.directory .annotation{color: gray;}
.bigDataDiv .sysColor{color: #F82672;}
.bigDataDiv .greenColor{color: #4F8F00;}
.bigDataDiv .blueColor{color: #0096FF}; 
.bigDataDiv a { color: #666; margin: 0 2px; border: 1px solid #000; padding: 5px 10px; }
.bigDataDiv a:hover { color: #f00; text-decoration: underline }

